.about-page header {
    background-color: black;
    height: 500px;
}

.about-page img {
    width: 100%;
    height: 500px;
}

.about-page section {
    padding: 100px;
    text-align: justify;
}

.about-page section h1 {
    text-align: center;
}

.about-page section p {
    line-height: 2;
}