.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.navbar-brand {
  font-size: 2em;
  font-weight: bold;
}

.nav-link  {
  margin-left: 20px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-toggler-icon {
  background-color: #ffffff !important;
}
